# {{ ansible_managed }}

[Unit]
Description={{ statsd_service_systemd.options.Unit.Description }}
Wants={{ statsd_service_systemd.options.Unit.Wants }}
OnFailure=notify@%n.service

[Service]
Type={{ statsd_service_systemd.options.Service.Type }}
User={{ statsd_user.name }}
PIDFile={{ statsd_paths.files.pid.path }}
ExecStart={{ statsd_nodejs_binary }} {{statsd_paths.files.service.path}} {{ statsd_paths.files.main_config.path }}
Restart={{ statsd_service_systemd.options.Service.Restart }}
RestartSec={{ statsd_service_systemd.options.Service.RestartSec }}

[Install]
WantedBy={{ statsd_service_systemd.options.Install.WantedBy }}

